.sb{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sbt{
    animation: slideInFromLeft 1.2s;
}

.sb img{
    width: 20px;
}

.menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.chat{
    margin-top:50px;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    background-color: #e5eaf1;
    color: #9a9da1;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    gap: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.recent{
    display: flex;
    align-items: start;
    gap: 10px;
    padding-right: 40px;
    padding: 10px;
    border-radius: 50px;
    color: #1f1f1f;
    cursor: pointer;
}

.recent:hover{
    background-color: #e9eef6;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.b-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .sb{
        display: none;
    }
}

@keyframes slideInFromLeft {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0);
    }
  }
  